<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
	body{
		background-color: #daecee;
		text-align: center;
	}
	img{
		display: block;
		margin:5% auto;
		width:50%;
		max-width: 611px;
	}
	a{
		font-family: arial;
		text-decoration: none;
	}
</style>
<body>
	<img width="611" src="images/404.png">
	<a href="/">Return</a>
</body>
</html>