<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
</body>
<script>
	/*var pole = [];
	for(var i = 0; i < 651651;i++){
		pole.push(i);
	}
	var first = Date.now();
	//if(651648 in pole) console.log('chello');
	for(var i = 0; i < pole.length; i++){
		if(651648 == pole[i]){
			console.log('chello');
			break;
		}
	}
	console.log(Date.now() - first + 'ms');*/
	var lol = [];
	function Lel(){
		this.delete = function(){
			lol.splice(this, 1);
		}
	}
	lol.push(new Lel());
</script>
</html>